<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body ng-class="sidebar.isOpen() ? 'no-scrollbar' : '' ">
<md-content layout-fill layout="row">

  <div flex></div>

  <div md-theme="light" ng-include="'client/menu/menu.ng.html'"></div>

  <div class="center-column" layout="column">

    <md-toolbar md-component-id="header"
                ng-include="'client/header/header.ng.html'"
                md-theme="default">
    </md-toolbar>

    <md-card md-theme="light">

      <md-toolbar layout-padding>
        <div md-component-id="topnav" class="md-toolbar-tools"
             ng-include="'client/topnav/topnav.ng.html'"></div>
      </md-toolbar>

      <md-card-content layout="column">
        <div ng-view="content" ng-show="page.current"></div>
        <div ng-hide="page.current" class="content-placeholder">
          <md-progress-circular class="md-accent" md-mode="indeterminate">
          </md-progress-circular>
        </div>
      </md-card-content>
    </md-card>
    <div flex></div>
  </div>

  <div md-theme="light" ng-include="'client/sidebar/sidebar.ng.html'"></div>

  <div flex></div>
</md-content>
</body>
