<md-list ng-controller="CommentsController as comments">
  <md-list-item class="md-2-line" ng-repeat="item in comments.items">
    <div class="md-list-item-text">
      <div>
        <strong><a ng-href="{{ item.url }}">{{ item.author }}</a></strong>
        murmelt:
      </div>
      <div layout-padding ng-bind-html="item.text | markSafe"></div>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>
