<md-list ng-controller="TranscriptionsController as transcriptions">
  <md-list-item class="md-2-line" ng-repeat="item in transcriptions.items">
    <div class="md-list-item-text">
      <div><strong>{{ item.author }}</strong></div>
      <div layout-padding ng-bind-html="item.text | markSafe"></div>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>
