[md-component-id="topnav"] .md-button {
  font-size: 24px;
}

[md-component-id="topnav"] .language-selection {
  height: 100%;
  vertical-align: top;
  padding-left: 8px;
}

[md-component-id="topnav"] .language-selection img {
  height: 20px;
  width: 20px;
}
