<md-button ng-show="page.current.prev" class="md-mini pull-left"
           ng-href="{{ page.current.prev.url }}">
  <md-tooltip md-direction="top">{{ page.current.prev.title }}</md-tooltip>
  <i class="fa fa-chevron-left"></i>
</md-button>

<div flex></div>

<h3 class="page-title">
  {{ page.current.title }}<br>
  <small>{{ page.current.date.format('DD.MM.YYYY') }}</small>
</h3>

<small class="language-selection" flex>
  <a ng-repeat="translation in page.current.translations"
     href="{{ translation.url }}">
    <img src="/{{ translation.language }}.png">
  </a>
</small>

<md-button ng-show="page.current.next" class="md-mini pull-right"
           ng-href="{{ page.current.next.url }}">
  <md-tooltip md-direction="top">{{ page.current.next.title }}</md-tooltip>
  <i class="fa fa-chevron-right"></i>
</md-button>
