[md-component-id="header"] {
  background: none;
  height: 158px;
  min-height: 158px;
  margin-bottom: -28px;
  z-index: 3;
}

[md-component-id="header"] .background {
  position: absolute;
  background: url("/header.png") no-repeat 0 12px;
  top: 0;
  left: 8px;
  bottom: 0;
  right: 8px;
}

[md-component-id="header"] h1 {
  color: white;
  font-weight: bold;
  padding-right: 12px;
  margin-top: -16px;
  z-index: 4;
}
