<div class="background"></div>

<div class="md-toolbar-tools">
  <md-button ng-hide="menu.isLockedOpen"
             ng-class="roundButton" class="md-mini pull-left"
             ng-click="menu.open()">
    <md-tooltip md-direction="top">
      {{ 'MENU' | translate }}
    </md-tooltip>
    <i class="fa fa-bars"></i>
  </md-button>

  <div flex></div>

  <h1 md-border-bottom class="pull-right">
    <a href="{{ 'URL' | translate }}" translate="TITLE"></a>
  </h1>

  <md-button ng-hide="sidebar.isLockedOpen"
             ng-class="roundButton" class="md-mini pull-right"
             ng-click="sidebar.open()">
    <md-tooltip md-direction="top">
      {{ 'MENU_SEARCH' | translate }}
    </md-tooltip>
    <i class="fa fa-search"></i>
  </md-button>

  <md-button ng-show="page.hasComments && !sidebar.isLockedOpen"
             ng-class="roundButton" class="md-mini pull-right"
             ng-click="sidebar.open()">
    <md-tooltip md-direction="top">
      {{ 'MENU_COMMENTS' | translate }}
    </md-tooltip>
    <i class="fa fa-comments"></i>
  </md-button>
</div>
