<md-tabs md-component-id="archive"
         md-selected="archive.selectedYearIndex"
         md-border-bottom
         md-autoselect
         md-dynamic-height>

  <md-tab ng-repeat="year in archive.years"
          label="{{ year }}">

    <md-button ng-repeat="month in archive.months[year]"
               ng-click="archive.selectMonth(month)">
      {{ 'ARCHIVE.MONTH_NAMES.' + month | translate }}
    </md-button>

  </md-tab>
</md-tabs>
