[md-component-id="archive"] md-progress-circular {
  margin: auto;
  margin-top: 50px;
}

[md-component-id="archive"] md-tab-content {
  padding-top: 16px;
  text-align: center;
}

[md-component-id="archive"] .md-button {
  text-transform: none;
}
