<md-sidenav class="md-sidenav-right md-whiteframe-z2" layout-padding
            md-component-id="sidebar"
            md-is-locked-open="sidebar.isLockedOpen">

  <div layout="row">
    <div flex></div>
    <div class="pull-right" ng-hide="sidebar.isLockedOpen">
      <md-button ng-class="roundButton" class="md-mini"
                 ng-click="sidebar.close()">
        <md-tooltip md-direction="left">
          {{ 'MENU_CLOSE' | translate }}
        </md-tooltip>
        <i class="fa fa-times"></i>
      </md-button>
    </div>
  </div>

  <div md-component-id="searchform" layout="row" layout-margin>
    <md-input-container flex>
      <label><i class="fa fa-search"></i></label>
      <input ng-model="sidebar.search.keywords" type="text"
             ng-change="sidebar.search.run()"
             ng-disabled="!sidebar.search.isEnabled">
    </md-input-container>
    <md-icon class="clear-button fa fa-times"
             ng-show="sidebar.search.keywords"
             ng-click="sidebar.search.clear()"></md-icon>
  </div>

  <md-tabs ng-show="page.hasComments && !sidebar.search.hasInput()"
           layout-margin
           md-border-bottom md-stretch-tabs="always">
    <md-tab>
      <md-tab-label layout-margin>
        <i class="fa fa-comments"></i>
      </md-tab-label>
      <md-tab-body>
        <div md-component-id="comments"
             ng-include="'client/comments/comments.ng.html'"></div>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label layout-margin>
        <i class="fa fa-pencil"></i>
      </md-tab-label>
      <md-tab-body>
        <div
          ng-include="'client/transcriptions/transcriptions.ng.html'"></div>
      </md-tab-body>
    </md-tab>
  </md-tabs>

  <form layout="column"
        ng-show="page.hasComments && !sidebar.search.hasInput()">
    <md-input-container>
      <label translate="COMMENT_NAME"></label>
      <input ng-model="page.comment.author">
    </md-input-container>

    <md-input-container>
      <label translate="COMMENT_HOMEPAGE"></label>
      <input ng-model="page.comment.url">
    </md-input-container>

    <md-input-container>
      <label translate="COMMENT_TEXT"></label>
      <textarea ng-model="page.comment.text"></textarea>
    </md-input-container>

    <div layout="row">
      <span flex></span>
      <md-button class="pull-right"
                 ng-click="page.comment.submit()">
        {{ 'COMMENT_SUBMIT' | translate }}
      </md-button>
    </div>
  </form>

  <md-content ng-show="sidebar.search.hasInput()" layout-margin
              ng-include="'client/search/search-result.ng.html'">
  </md-content>

</md-sidenav>
