[md-component-id="sidebar"] {
  min-height: 125px;
  width: 400px;
  min-width: 0;
  max-width: 100%;
  position: fixed;
}

[md-component-id="sidebar"].md-locked-open {
  margin-left: 0;
  margin-top: 138px;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

[md-component-id="sidebar"].md-locked-open {
  font-size: 14px;
}

[md-component-id="sidebar"] md-tab-content {
  padding: 8px;
}

[md-component-id="sidebar"] form md-input-container {
  padding-bottom: 0;
}

[md-component-id="sidebar"] form .md-button {
  margin-top: 24px;
}

[md-component-id="searchform"]  {
  margin-bottom: -18px;
}

[md-component-id="searchform"] .clear-button {
  cursor: pointer;
  margin-left: -24px;
  max-height: 26px;
  z-index: 100;
}
