<md-sidenav class="md-sidenav-left"
            md-component-id="menu"
            md-is-locked-open="menu.isLockedOpen"
            layout-fill layout="column">

  <md-button
    ng-class="menu.buttonClasses"
    ng-repeat="item in menu.items"
    ng-href="{{ item.url }}">

    <md-tooltip md-direction="left">{{ item.tooltip | translate }}</md-tooltip>
    <i class="fa fa-{{ item.icon }}"></i>

  </md-button>

</md-sidenav>
