[md-component-id="menu"],
[md-component-id="menu"].md-locked-open {
  background: none;
  width: auto;
  min-width: 0;
  max-width: none;
}

[md-component-id="menu"].md-locked-open {
  margin-top: 130px;
}

[md-component-id="menu"] .md-button {
  font-size: 24px;
}
