<img src="{{ page.current.image }}" class="comic">

<md-tooltip ng-if="page.current.mouseover"
            md-direction="top">{{ page.current.mouseover }}</md-tooltip>

<div layout="row">
  <div flex></div>

  <md-button class="md-fab md-mini md-raised"
             href="https://twitter.com/intent/tweet?text={{
             page.current.title | encodeUri }}&url={{
             'URL' | translate | encodeUri }}{{
             page.current.url | encodeUri }}">
    <i class="fa fa-twitter"></i>
    <md-tooltip>twitter</md-tooltip>
  </md-button>

  <md-button class="md-fab md-mini md-raised"
             href="https://www.facebook.com/sharer/sharer.php?u={{
             'URL' | translate | encodeUri }}{{
             page.current.url | encodeUri }}">
    <i class="fa fa-facebook"></i>
    <md-tooltip>facebook</md-tooltip>
  </md-button>

  <div flex></div>
</div>

<p translate="TODAY_IS"></p>

<div ng-bind-html="page.current.text | markSafe"></div>
