.center-column {
  min-height: 1000px; /* force scrollbar to prevent content jumping */
  max-width: 100%;
  padding-right: 18px;
}

.page-title {
  text-align: center;
}

md-card.md-light-theme,
md-toolbar.md-light-theme,
md-content.md-light-theme {
  background: white;
}

md-card {
  padding-top: 16px;
  width: 650px;
  max-width: 100%;
}

body.no-scrollbar {
  overflow: hidden;
}

.content-placeholder {
  height: 600px;
  min-height: 600px;
}

.content-placeholder md-progress-circular {
  margin-left: 275px;
  margin-top: 275px;
}

/* remove alpha channel from text */
md-list.md-light-theme md-list-item.md-2-line .md-list-item-text p,
md-list.md-light-theme md-list-item.md-3-line .md-list-item-text p,
md-tabs.md-light-theme .md-tab.md-active,
md-tabs.md-light-theme .md-tab.md-focused {
  color: inherit;
}

md-toast {
  position: fixed;
}
