<md-list md-component-id="search-result">
  <md-list-item class="md-1-line"
                ng-repeat="page in sidebar.search.result.pages">
    <div class="md-list-item-text" layout-fill>
      <div layout="row">
        <md-button class="md-accent"
                   ng-click="sidebar.close()"
                   href="{{ page.url }}"
                   ng-bind-html="page.title | markSafe">
        </md-button>
        <div flex></div>
        <small class="pull-right">{{ page.date | date: 'dd.MM.yyyy' }}</small>
      </div>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<md-button ng-show="sidebar.search.hasMorePages()"
           ng-click="sidebar.search.loadMorePages()"
           class="pull-right">
  {{ 'SEARCH.MORE_RESULTS' | translate }}
</md-button>
